@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #eeeeee;
  color: #222222;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #eeeeee;
}

* {
  box-sizing: border-box;
}
